@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  @apply w-full border my-2 py-2 px-3 rounded;
}

button {
  @apply bg-gray-300;
}

button.primary {
  background-color: #f53850;
  @apply bg-primary p-2 w-full text-white rounded-full;
}
